version: 2
updates:

  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: "yearly"
    groups:
      kotlin:
        patterns:
          - "org.jetbrains.kotlin.*"
          - "com.google.devtools.ksp"
          - "kotlin*"
          - "*kotlin*"
      spring:
        patterns:
          - "*spring*"
      ktor:
        patterns:
          - "*ktor*"
