# Builds
target
.gradle
.idea
*.iml
build


## Logs
logs
*.hprof

## Node
node_modules

## Temporary images
*.jpg~

## Draw IO
*.bkp
*.dtmp

## Cypress
/videos
/screenshots

## BIN
bin

## Compressed files
deck.tar.gz

## C / C++
*.o
*.a
kotlin.native.tar.gz
kotlin.native
*.kexe
*.klib
redcat.klib-build
postgres.zip
postgres-master
stdbool.h
stdint.h
_types.h
