# Builds
target
.gradle
.idea
*.iml
build


## Logs
logs
*.hprof

## Node
node_modules

## Temporary images
*.jpg~

## Draw IO
*.bkp
*.dtmp

## Cypress
/videos
/screenshots

## BIN
bin

## Compressed files
deck.tar.gz

## C / C++
*.o
*.a
kotlin.native.tar.gz
kotlin.native**
kotlin-native-linux-x86_64-1.7.20
*.kexe
*.klib
redcat.klib-build
postgres.zip
postgres-master
stdbool.h
stdint.h
_types.h
cdefs.h
machine
machines
stdlib.h
stdio.h
_null.h

## Results
*.csv
*.txt
